<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>첫번째 페이지입니다.</h1>
    <div>
        <img SRC='https://flexible.img.hani.co.kr/flexible/normal/960/960/imgdb/resize/2019/0121/00501111_20190121.JPG' class='image-box'>
    </div>
</body>
</html>





<div class="sign-in-input-container">
    <div class="input-box">
        <div class="input-label label">아이디</div>
        <div class="input-content-box">
            <input id="id" class="input" type="text" placeholder="아이디를 입력해주세요." />
        </div>
        <div class="input-message"></div>
    </div>
    <div class="input-box">
        <div class="input-label label">비밀번호</div>
        <div class="input-content-box">
            <input id="password" class="input" type="password" placeholder="비밀번호를 입력해주세요." />
        </div>
        <div id="sign-in-message" class="input-message error"></div>
    </div>
</div>